/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

$appcolors: (
    gray: #252525,
    dark-gray: #1E1E1E,
    light-gray: #333333,
);

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

html {
    height: 100%;
}

body {
    background-color: #333333;
    color: #DDD;
    height: 100%;
    
    font-size: 18px;
}

a {
    text-decoration: none;
}