.login-container {
    display: grid;
    grid-template-rows: 1fr;
    height: 100%;
}

.login-form {
    justify-self: center;
    align-self: center;

    display: grid;
    grid-gap: 5px;
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        
        label {
            text-align: left;
        }

        input {
            background-color: #252525;
            padding: 5px;
            color: #DDD;
            border: 0px solid black;
        }
    }

    .stretch {
        justify-self: stretch;
        align-self: stretch;
        background-color: #1E1E1E;
        border: 0px solid black;
        padding: 5px;
        color: #DDD;

        &:hover {
            color: rgb(192, 88, 18);
            cursor: pointer;
        }
        
        &:active {
            background-color: #252525;
        }
    }
}