<div class="login-container">
    <form class="login-form">
        <div class="grid">
            <!-- <label for="">Username</label> -->
            <input [(ngModel)]="loginUserData.username" name="username" type="text" placeholder="username"/>
        </div>
        <div class="grid">
            <!-- <label for="">Password</label> -->
            <input [(ngModel)]="loginUserData.password" name="password" type="password" placeholder="password"/>
        </div>
        <button class="stretch" type="button" (click)="login()">Login</button>
    </form>
</div>