// Short-hand function to retrieve a color from the $colors table

@function color($key){
    @return map-get($colors, $key);
}

header {
    background: #1E1E1E;

    .logo {
        font-weight: bold;
        padding: 10%;
        background-color: #252525;
    }

.nav-grid {
    display:grid;
    grid-template-columns: 1fr auto auto;

    .title {
        align-self: center;
        padding: 10px;
    }

    a {
        font-size: .8em;
        align-self: center;
        padding: 12px;
        &:hover {
            color: white;
            background-color: #333333;
        }
    }
}

    .container {
        display: grid;
        grid-template-columns: auto 1fr;
    
        a {
            color: #BBB;

            &:hover {
                color: white;
            }
        }
    }
}