// Short-hand function to retrieve a color from the $colors table

@function color($key){
    @return map-get($colors, $key);
}

header {
    background: #1E1E1E;

    .logo {
        font-weight: bold;
        background-color: #252525;
    }

.nav-grid {
    display:grid;
    grid-template-columns: 1fr auto auto;

    .title {
        align-self: center;
        padding: 0.5em;
        text-align: center;
    }

    a {
        
        align-self: center;
        padding: 0.5em;
        &:hover {
            color: rgb(192, 88, 18);
            background-color: #333333;
        }
    }
}

    .container {
        display: grid;
        grid-template-columns: auto 1fr;
    
        a {
            color: #BBB;
            align-self: center;
            padding: 0.5em;
            &:hover {
                color: rgb(192, 88, 18);
            }
        }
    }
}