<header>
  <div class="container">
    <a routerLink="/home" class="logo">{{ appTitle }}</a>
    <div class="nav-grid">
      <div class="title">Welcome, traveler.</div>
        <a routerLink="/login" *ngIf="!auth.loggedIn()">Login</a>
        <a routerLink="/register" *ngIf="!auth.loggedIn()">Register</a>
        <a routerLink="/login" class="logout" *ngIf="auth.loggedIn()" (click)="auth.logout()">Logout</a>
        <!-- <li><a routerLink="/spells">Spells</a> -->
      </div>
  </div>
</header>