// Short-hand function to retrieve a color from the $colors table
@function color($key){
    @return map-get($colors, $key);
}

$colors: (
    primary: #DA5E14,
    hover: darken(#DA5E14, 50%),
);

header {
    background: color(primary);

    .logo {
        font-weight: bold;
    }

    nav {
        justify-self: right;

        ul {
            list-style-type: none;
            margin: 0; padding: 0;

            li {
                float: left;

                a {
                    margin: 1.1em;
                    font-size: .8em;

                    &:hover {
                        color: color(hover);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}