<div class="grid">
  
  <div class="card-container">
    <a routerLink="/spells">
      <div class="card">
        <img src="../../assets/svg/012-star-of-david.svg"/>
        <div class="container">
          <h4><b>Spells</b></h4>
        </div>
      </div>
    </a>
  </div>
  
  <div class="card-container">
      <a routerLink="/spells">
        <div class="card">
          <img src="../../assets/svg/019-swords.svg"/>
          <div class="container">
            <h4><b>Encounters</b></h4>
          </div>
        </div>
      </a>
    </div>

    <div class="card-container">
        <a routerLink="/spells">
          <div class="card">
            <img src="../../assets/svg/013-volume.svg"/>
            <div class="container">
              <h4><b>Notes</b></h4>
            </div>
          </div>
        </a>
      </div>

</div>